@include aoa-bg-series($bg__init,$classes_init);
@media all and (orientation:portrait){
    .about{
        &-s1{
            background-position-x: 35%!important;
        }
        &-s2{
            background-position-x: 75%!important;
        }
    }
    .blog{
        &-s1{
            background-position-x: 70%!important;
        }
    }
    .bouquets{
        &-s1{
            background-position-x: 75%!important;
        }
    }
    .index-s1{
        background-position-x: 35%!important;
    }
}


.about,.bouquets{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "Courgette";
    letter-spacing: 1px;
}
header{
    z-index: 10;
}
nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            background-position: top right!important;
        }
    }
    .blog,.bouquets,.index{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            background-position: top right!important;
        }
    }
    .contact{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
            }
            background-color: #666;
            border: 1px solid #333;
            opacity: 0.9;
        }
    }
}